@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Noto Sans';
}

/* Navbar */
.nav-link {
  transition: 0.5s ease-in-out;
}

/* View Profile */
.usernameHeader {
  text-align: center;
  padding-top: 20px;
  font-size: 400%;
}

.userInfo {
  text-align: center;
}

.userInfo .send-message {
  padding-top: 1px;
}

.userInfo .view-conversation {
  margin-top: 4px;
}

/* Messages */
.message {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.015);
  transition: box-shadow 0.3s ease-in-out;
}

.message p {
  margin-top: -5px;
  margin-bottom: 3px;
}

.message small {
  color: grey;
}

.view-conversation .send-message {
  padding-left: 9px;
}

/* Select User Page */
.select-user {
  position: relative;
  top: 50%;
  transform: translateY(50%); /* or try 50% */
  text-align: center;
}

.select-user h1 {
  padding-top: 35px;
  font-size: 90px;
}

.link {
  color: #FFF;
  transition: 0.5s ease-in-out;
}
.link:hover {
   color: rgb(223, 99, 17);
   text-decoration: none;
}


.user-card {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 25px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.015);
  transition: box-shadow 0.5s ease-in-out;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.user-card:hover {
  box-shadow: 0 10px 11px rgba(0,0,0,0.30);
  transform: translateY(-0.4%); /* or try 50% */
}

.user-card {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 25px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.015);
  transition: box-shadow 0.5s ease-in-out;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
}

.user-card h1{
  font-size: 42px;
}

.user-card h3{
  font-size: 25px;
}

.user-card h4{
  margin-bottom: 15px;
  font-size: 21px;
}

.user-card p{
  font-size: 15px;
  margin-bottom: 5px;
}

.card-group {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}