@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Noto Sans';
}

.usernameHeader {
  text-align: center;
  padding-top: 20px;
  font-size: 400%;
}

.userInfo {
  text-align: center;
}

.userInfo .message{
  padding-top: 1px;
}

.userInfo .view-conversation{
  margin-top: 4px;
}